.main article dl dd{
    margin-bottom: 80px;
    padding: 0px;

}
.main article dl dt .name{
    padding: 10px;
}
.name{
    font-weight: normal
}
.name span:nth-child(2){
    font-size: 20px;
    font-weight: normal;
    margin-right: 10px;
}
.signature{
    color:darkgray;
    font-weight: normal;
}
dd>.description>p{
    color:darkgray;
    font-weight: normal;
}
.container-params h5{
    display: none;
}

.main article .container-params table{
    width: 100%;
    border: 1px solid #d7dde4;
    margin-left: 0px;
}
.main article .container-params table th{
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    background-color: #f5f7f9;
    color: #657180;
}
.main article .container-params table th, .main article .container-params table td{
    padding: 10px;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    border-bottom: 1px solid #e3e8ee;
}
.main article .container-params table td{
    background-color: #fff;
    transition: background-color .2s ease-in-out;
    height: 48px;
}

.readme h1{
    padding-bottom: 20px;
}
.readme h3{
    margin-top: 30px;
}
.readme ul{
    line-height: 25px;
}
.readme ul li{
    margin-bottom: 15px;
}
